body {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh;
    margin: 0;
    background-color: rgb(253, 246, 237);
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 1rem;
    border-color: rgb(0, 104, 0);
    width: 75%;
    margin: auto;
    padding: 3rem;
    background-color:rgb(249, 240, 228);
}

.task-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: x-large;
    color: rgb(255, 81, 0);
}

.list-container {
    display: flex;
    flex-direction: column;
    list-style-type: decimal;
}

.list-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 0.5rem;
}

a:hover {
    color: rgb(255, 81, 0);
}

a:visited {
    color: green;
}

.list-item:hover {
    cursor: pointer;
    color: rgb(255, 81, 0);
}

.details-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-radius: 1rem;
    border-color: rgb(0, 104, 0);
    background-color: rgb(249, 240, 228);
    width: 75%;
    margin: auto;
    padding: 3rem;
}

.details-header {
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 81, 0);
}

.details {
    font-size: large;
    text-align: center;
}

.task-error {
    color: red;
    font-size: x-large;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.return-home {
    align-items: center;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 2px;
    text-decoration: none;
    padding: 4px;
    margin-top: 1rem;
    text-align: center;
    width: 25%;
}

.return-home:hover {
    background-color: rgb(217, 217, 217);
}

.return-container {
    display: flex;
    justify-content: center;
}